*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}
.container{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
    width: 400px;
    padding: 30px 40px;
}
h2{
    text-align: center;
    margin: 0 0 20px;
}
.form{
    padding: 30px, 40px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label{
    color: #777;
    display: block;
    margin-bottom: 5px;
}
.form-control input{
    display: block;
    width: 100%;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px;
}
.form-control input:focus{
    outline: 0;
    border-color: #777;
}
.form-control.success input{
    border-color: greenyellow;
}
.form-control.error input{
    border-color: red;
}
.form-control small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    color: red;
}
.form-control.error small{
    visibility: visible;
}
button{
    background: coral;
    border: coral;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    padding: 10px;
}